$paperback-border: #2D6423;
$paperbackgr1: #030603;
$paperbackgr2: #091006;
$hardcover-border: #2A4798;
$hardcovergr1: #04050B;
$hardcovergr2: #070C1A;
$limited-border: #5A328C;
$limitedgr1: #07040A;
$limitedgr2: #100918;
$objetdart-border: #BEA344;
$objetdartgr1: #0A0903;
$objetdartgr2: #221D0C;

$light: #CCB206;
