$attack-color: #A34341;
$defense-color: #5FAFF0;
$counter-color: #F4AF2F;
$trigger_main-color: #D3D40A;

$status-colors: (
  protection: #89d5d3,
  bleed: #a50100,
  charge: #3da8ff,
  haste: #f49c63,
  light: #fdf9cd,
  fragile: #ff667e
);

@each $status, $color in $status-colors {
  .status-#{$status} {
    color: $color;
  }
}

.separator {
  width: 100%;
  height: 2px;
  margin-top: 20px;
  background: linear-gradient(to right, transparent, white, transparent);
  filter: blur(1.5px);
}

.trigger-onuse {
  color: $trigger_main-color;
}

.trigger-onhit {
  color: $trigger_main-color;
}

.trigger-clashwin {
  color: $trigger_main-color;
}

.effect-description {
  color: white;
}

.status-icon {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.icon-wrapper {
  width: 1.15em;
  height: 1.15em;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

.keyword {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  gap: 0.15em;
  line-height: 1;
  cursor: help;

  border-bottom: 1px solid currentColor;
}

.die-hook {
  color: white;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.pagedice {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  gap: 10px;
}

.infodie {
  display: flex; // keeps image and text horizontal
  align-items: center;
  gap: 10px;

  img {
    width: 25px;
    height: 25px;
    object-fit: contain;
  }
}

.die-range {
  font-size: 16px;

  &.pierce,
  &.blunt,
  &.slash {
    color: $attack-color;
  }

  &.block,
  &.evade {
    color: $defense-color;
  }

  &.cpierce,
  &.cblunt,
  &.cslash,
  &.cblock,
  &.cevade {
    color: $counter-color; 
  }

  font-weight: bold;
}

.tooltip {
    position: fixed;
    pointer-events: none;

    z-index: 99999;

    padding: .6rem .8rem;

    background: rgba(#000000, 0.7);

    color: white;

    max-width: 260px;

    font-size: .81rem;

    line-height: 1.4;

    border: 2px solid #604026;
}

.tooltip[hidden] {
    display: none;
}

.status-bleed .status-icon {
  transform: scale(0.75);
}

.status-charge .status-icon {
  transform: scale(1.35);
}

.status-light .status-icon {
  transform: scale(0.85);
}

.status-fragile .status-icon {
  transform: scale(0.75);
}

.status-haste .status-icon {
  transform: scale(1.25);
}
