$attack-color: #A34341;
$defense-color: #5FAFF0;
$counter-color: #F4AF2F;
$trigger_main-color: #D3D40A;

.separator {
  width: 100%;
  height: 2px;
  margin-top: 20px;
  background: linear-gradient(to right, transparent, white, transparent);
  filter: blur(1.5px);
}

.trigger-onuse {
  color: $trigger_main-color;
}

.trigger-onhit {
  color: $trigger_main-color;
}

.effect-description {
  color: white;
}

.die-hook {
  color: white;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.pagedice {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  gap: 10px;
}

.infodie {
  display: flex; // keeps image and text horizontal
  align-items: center;
  gap: 10px;

  img {
    width: 25px;
    height: 25px;
    object-fit: contain;
  }
}

.die-range {
  font-size: 16px;

  &.pierce,
  &.blunt,
  &.slash {
    color: $attack-color;
  }

  &.block,
  &.evade {
    color: $defense-color;
  }

  &.cpierce,
  &.cblunt,
  &.cslash,
  &.cblock,
  &.cevade {
    color: $counter-color; 
  }

  font-weight: bold;
}
