$font: 'Verdana', Geneva, sans-serif;
$debug: true !default;

@mixin debugmode {
  @if $debug {
    @debug "Debug mode enabled";

    display: inline-block;
  }

  @else {
    display: none;
  }
}

.info {
  @include debugmode;
}

body {
  margin: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  background-color: #17181C;
  font-family: $font;
  background-image: url(/backgrounds/Library-background.png);
}

